/**
  * @name Nebula
  * @author Loremly#9359
  * @donate https://www.patreon.com/aetheryx
  * @description Round, Deep sea blue, consistent, Nebula!
  * @invite powercord
  * @source https://github.com/Loremly/Nebula/blob/main/nebula.theme.css
  * @website https://github.com/loremly/Nebula
  * @version 5.11.13
*/
/*
╔════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╗
║ Theme Settings                                                                                                     ║
╠══════════════════════════╦═════════════════════════════════════════════════════════════════════════════════════════╣
║ Theme:                   ║ Nebula                                                                                  ║
║ version:                 ║ 5.11.13                                                                                  ║
║ author:                  ║ Loremly#9359                                                                            ║
╠══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╣
║                                                                                                                    ║
║ Round, Deep sea blue, consistent, Nebula! Customize to your hearts Extent!                                         ║
║                                                                                                                    ║
║ A large amount of Nebula is inspired from CorellanStoma's CreArts Discord theme. Check It out!                     ║
║ ● https://github.com/CorellanStoma/CreArts-Discord                                                                 ║
║                                                                                                                    ║
║ More information about Powercord can be found here:                                                                ║
║ ● https://powercord.dev/                                                                                           ║
║                                                                                                                    ║
║ If you need more support join the Nebula Community:                                                                ║
║ ● https://discord.com/invite/powercord                                                                             ║
║                                                                                                                    ║
╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝
*/


/* 
╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════════════════╗
║ Source Import            ║ I wouldnt remove that import line unless you dont want the theme.... To each his own ig ║
╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝
*/
@import url('https://loremly.github.io/Nebula/index.css');

/*
╔══════════════════════╦════════════════════════════════════╗
║ Cosmetic Variables   ║ Format: px, calc()                 ║
╚══════════════════════╩════════════════════════════════════╝
*/
:root{
  --background-primary: #25294a;
  --background-secondary: #202442;
  --background-secondary-alt: #2D325A;
  --background-tertiary: #1B1F38;

  --btn-bg-primary: #2c3263;
  --btn-bg-secondary: #202442;
  --btn-bg-primary-hover: #1b1e35;
  --btn-bg-secondary-hover: #22295a;
}