/**
* @name Red-n-Black
* @author  DarkKillerXL#2636
* @version  Auto
* @description A simple, red and black colored theme
* @invite nrTqgTN
* @authorId 332150412763332608
* @source https://github.com/DarkKillerXL/Red-n-Black
*/

/*
 /$$$$$$$                      /$$       /$$   /$$ /$$ /$$ /$$                    /$$   /$$ /$$      
| $$__  $$                    | $$      | $$  /$$/|__/| $$| $$                   | $$  / $$| $$      
| $$  \ $$  /$$$$$$   /$$$$$$ | $$   /$$| $$ /$$/  /$$| $$| $$  /$$$$$$   /$$$$$$|  $$/ $$/| $$      
| $$  | $$ |____  $$ /$$__  $$| $$  /$$/| $$$$$/  | $$| $$| $$ /$$__  $$ /$$__  $$\  $$$$/ | $$      
| $$  | $$  /$$$$$$$| $$  \__/| $$$$$$/ | $$  $$  | $$| $$| $$| $$$$$$$$| $$  \__/ >$$  $$ | $$      
| $$  | $$ /$$__  $$| $$      | $$_  $$ | $$\  $$ | $$| $$| $$| $$_____/| $$      /$$/\  $$| $$      
| $$$$$$$/|  $$$$$$$| $$      | $$ \  $$| $$ \  $$| $$| $$| $$|  $$$$$$$| $$     | $$  \ $$| $$$$$$$$
|_______/  \_______/|__/      |__/  \__/|__/  \__/|__/|__/|__/ \_______/|__/     |__/  |__/|________/
*/

@import url("https://darkkillerxl.github.io/Red-n-Black/Red%20'n%20Black%20Import.css");

/* Customize */
:root {
    /* Primary Color (Default: rgb(85, 8, 8) ) */
    --color1: rgb(85, 8, 8);
    /* Secondary Color (Default: rgb(56, 0, 0) ) */
    --color2: rgb(56, 0, 0);

    /* Primary Color Buttons On Hover (Default: rgb(95, 9, 9) ) */
    --color3: rgb(95, 9, 9);
    /* Secondary Color Buttons On Hover (Default: rgb(66, 0, 0) ) */
    --color4: rgb(71, 0, 0);

    /* Tertiary Color (Default: darkred) */
    --color10: darkred;

    /* Accent Color (Default: red) */
    --accent-color: red;

    /* Background Image (change the url inside the brackets, default: url(https://i.imgur.com/6rlzsb8.png); ) */
    --background-url: url(https://i.imgur.com/6rlzsb8.png);
    /* Background Color, appears for example behind the server list (Default: black) */
    --background-color: black;

    /* Server image/profile pictures roundness (Default: 0px) */
    --server-list-rounding: 0px;
    /* Width for server icons in folders (Default: 40px) */
    --icon-width: 40px;
}
